<!-- Footer -->
<footer>
  <div class="container">
      <div class="row">
         
          <div class="footer-text col-12 col-md-6 col-lg-4">
              <ul style="list-style-type:none;">
                  <li><h3>FUNFOOD</h3></li>
                  <li><a href="/">Home</a></li>
                  
                  {{#if user}}
                  <li><a href="/menu/menuList">Menu</a></li>
                  {{else}}
                  <li><a href="/user/signIn">Sign In</a></li>
                  <li><a href="/user/signUp">Sign Up</a></li>
                  {{/if}}
              </ul>
          </div>
          <div class="footer-text col-12 col-md-6 col-lg-4">
              <ul style="list-style-type:none;">
                  <li><h3>More</h3></li>
                  
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  
                  
              </ul>
          </div>
          <div class="footer-text col-12 col-md-6 col-lg-4">
              <ul style="list-style-type:none;">
                  <li><h3>Social</h3></li>
                  <li><a href="#">Facebook</a></li>
                  <li><a href="#">Twitter</a></li>
                  <li><a href="#">Instagram</a></li>
                  <li><a href="#">Youtube</a></li>
              </ul>
          </div>
      </div>
      </div>
      <div class="footer-border"></div>
      <div class="row">
          <div class="copyright col">
              <p>Copyright &copy; Fall 2021, WEB322 ZAA by <a class="deep" href="https://deep8696.github.io/deepatel/"> Deepkumar Patel.</a></p>
          </div>
      
  </div>
  
</footer>