<div class="welcome">
    <div class="welcomeMsg">
        <form method="post" action="">
            <div class="profile row">
                <div class="col-8">
                     <div class="menu-content">                 
                <div class="clerk-content">
<h1>Welcome to FunFood</h1>

{{#if message}}
<h3 style="color: rgb(9, 192, 39);">{{message}}</h3>
{{/if}}
                </div>
            </div>
                </div>
         <div class="col-4">
             <div class="profile-content">

           </div></div>
           
            </div>
           
       </form>
    </div>
</div>